<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit user</a>
<p th:text="${user.getId()}"/>
<p th:text="${user.getEmail()}"/>
<p th:text="${user.getUsername()}"/>
<p th:text="${user.getRoles()}"/>
<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="delete">
</form>
</body>
</html>